<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controlo</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="main-content">
        <div class="timer-container">
            <p class="time-display">00:00:00</p>
        </div>
        <div class="button-container">
            <button class="btn start">START</button>
            <button class="btn stop">STOP</button>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>