<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controlo</title>
  <link rel="stylesheet" href="../static/css/selectManutencao.css">
</head>
<body>
    <div class="maintenance-selection">
        <button class="maintenance-button" data-type="Melhoria">Manutenção de melhoria</button>
        <button class="maintenance-button" data-type="Preventiva">Manutenção preventiva</button>
        <button class="maintenance-button" data-type="Corretiva">Manutenção corretiva</button>
        <button class="maintenance-button" data-type="Outros">Outros</button>
    </div>
    <script src="../static/js/selectManutencao.js"></script>
</body>
</html>