<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Machine Selection</title>
  <link rel="stylesheet" href="../static/css/selectMachine.css">
</head>
<body>
  <div class="machine-container">
    <button class="machine-button" data-machine="Balance">
      <img src="../static/images/machine1.webp" alt="Machine 1">
      <span>Balance</span>
    </button>
    <button class="machine-button" data-machine="CNC 3 eixos">
      <img src="../static/images/machine2.webp" alt="Machine 2">
      <span>CNC 3 eixos</span>
    </button>
    <button class="machine-button" data-machine="CNC 5 eixos">
      <img src="../static/images/machine3.webp" alt="Machine 3">
      <span>CNC 5 eixos</span>
    </button>
    <button class="machine-button" data-machine="Robot de soldadura">
      <img src="../static/images/machine4.png" alt="Machine 4">
      <span>Robot de soldadura</span>
    </button>
    <button class="machine-button" data-machine="Esquadrejadora">
      <img src="../static/images/machine5.jpg" alt="Machine 5">
      <span>Esquadrejadora</span>
    </button>
    <button class="machine-button" data-machine="Prensa">
      <img src="../static/images/machine6.jpg" alt="Machine 6">
      <span>Prensa</span>
    </button>
  </div>
  <script src="../static/js/selectMachine.js"></script>
</body>
</html>
