body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C4A484;
}

.maintenance-selection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.maintenance-button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    padding: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
  }
  
  .maintenance-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  }